/* styling this page using lots of rem and display flex for srtructure/responsiveness */

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(73, 139, 194, 0.884);
  color:white;
}
.header {
  height: 4rem;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(221, 221, 221, 0.466);
}
.logo {
  height: 3.5rem;
  width: 3.5rem;
  background: url("https://images.unsplash.com/photo-1503525523076-ca4aa2e47535?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=421&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid white;
}
.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
  
}
.footer {
  height: 4rem;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(221, 221, 221, 0.466);
  position: bottom absolute;
}
.text-input {
  border: 1px solid white;
  height: 2.5rem;
  border-radius: 1.2rem;
  padding-right: 0 2rem;
  background: black;
  color: white;
  width:100%;
}
.button {
  background: white;
  border: none;
  border-radius: 1rem;
  height: 2.1rem;
  width: 2.1rem;
  position: absolute;
  cursor: pointer;
  right:1.2rem;
  margin:auto;
  border-style: ridge;
  border-color: whitesmoke;
}

.text-block1 {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  background:black;
  width:fit-content;
  margin-left: 3rem;
  border-radius: 1rem;
}