/* styling this page using lots of rem and display flex for structure/responsiveness */

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(#e66465, #9198e5);
  color:white;
}
.header {
  height: 4.5rem;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(221, 221, 221, 0.466);
}


.logo {
  height: 3.5rem;
  width: 3.5rem;
  background: url("https://images.unsplash.com/photo-1503525523076-ca4aa2e47535?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=421&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid white;
}
.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
  
}
.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  flex: 1;
  padding: 1rem;

}
.message {
  color: white;
  background: black;
  margin: 0.8rem;
  border-radius: 0.3rem;
  padding: 0.8rem;
  max-width: 20rem;
  min-height: auto;
  overflow-wrap: break-word;
  position: relative;
}

.message-name {
  position: absolute;
  left: 0;
  top: -1.1rem;
  font-size: 0.8rem;
  color:white;
}


