.name-picker {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

  .name-picker-name {
    color: white;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
  }
